@import './variables.sass';

.Title
    font-size: calc(30px + 1vw)
    font-family: var(--font)
    color: var(--text-primary)
    margin-left: 40px
    margin-bottom: -10px
    text-align: left

.Card-list
    display: flex
    flex-direction: row
    margin: 2vw
    justify-content: space-evenly
    flex-wrap: wrap

.Segment
    overflow: visible
    position: relative
    margin-bottom: 100px
    max-width: 60rem
    margin: 4vw
    width: fit-content
    align-self: center
    border-radius: 20px
    background-color: lighten($primary-color, 2%)