html,
body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

html 
  scroll-behavior: smooth

a 
  color: inherit
  text-decoration: none

.fade-in-section
  opacity: 0
  transform: translateY(10vh)
  visibility: hidden
  transition: opacity 1s ease-out, transform 0.5s ease-out
  will-change: opacity, visibility

.fade-in-section.is-visible
  opacity: 1
  transform: none
  visibility: visible

@font-face
  font-family: Bogart
  src: local(Bogart), url(./../asset/bogart/bogart-semibold-webfont.woff2) format('woff2')

:root 
  --background: #FFFBEA
  --text: #435b79
  --text-body: #3b4252
  --text-highlight: #314661
  --primary: #add3d6
  --primary-1: #C7E0DE /* These are primarily used for SVG-waves */
  --primary-2: #DAE9E2 /* Should transition from --primary (0) to --background (5) */
  --primary-3: #E4EEE4
  --primary-4: #EDF2E6
  --shadow-color-background: #d4d1c4
  --shadow-color-primary: #80a1a3
  --accent: var(--background) /* Needs to contrast well against --primary */
  --font: Bogart

[data-theme='space'] 
  --background: #303642
  --text: #f5f8ff
  --text-body: #f5f8ff
  --text-highlight: #abaeb6
  --primary: #191C23
  --primary-1: #1F232B
  --primary-2: #22262F
  --primary-3: #252933
  --primary-4: #2B303B
  --shadow-color-background: #14161b
  --shadow-color-primary: #000000
  --accent: var(--text)

[data-theme='hacker'] 
  --background: #202020
  --text: #20c20e
  --text-body: #20c20e
  --text-highlight: #abaeb6
  --primary: #000000
  --primary-1: #080808
  --primary-2: #121212
  --primary-3: #161616
  --primary-4: #181818
  --font: 'Courier New'

[data-theme='garden'] 
  --text: #437978
  --text-body: #3b4252
  --text-highlight: #275554
  --primary: #b7d6ad
  --primary-1: #C9E0BD
  --primary-2: #D2E5C5
  --primary-3: #DBE9CC
  --primary-4: #EDF2DB
  --shadow-color-primary: #7f9c75

[data-theme='purple'] 
  --text: #7b2cbf
  --text-body: #45186d
  --text-highlight: #5a1b91
  --primary: #e0aaff
  --primary-1: #E8BFFA
  --primary-2: #F0D3F5
  --primary-3: #F4DDF3
  --primary-4: #F8E7F0
  --shadow-color-primary: #86609c

[data-theme='ocean'] 
  --background: #5684D7
  --text: #72efdd
  --text-body: #b1f1e9
  --text-highlight: #bbf8ef
  --primary: #5e60ce
  --primary-1: #5C69D1
  --primary-2: #5B6ED2
  --primary-3: #5A72D3
  --primary-4: #587BD5
  --shadow-color-background: #4066ac
  --shadow-color-primary: #32337a
  --accent: var(--text)

[data-theme='new-sky'] 
  --text: #435b79
  --text-body: #3b4252
  --text-highlight: #314661
  --primary: #b8ecf0
  --primary-1: #CAF0EF
  --primary-2: #D3F2EE
  --primary-3: #DCF4ED
  --primary-4: #EEF8EC
  --shadow-color-primary: #85b1b4

[data-theme='new-garden'] 
  --text: #437978
  --text-body: #3b4252
  --text-highlight: #275554
  --primary: #baeec0
  --primary-1: #CCF2CB
  --primary-2: #D5F4D0
  --primary-3: #DDF5D5
  --primary-4: #EEF8E0
  --shadow-color-primary: #93c599

[data-theme='new-pink'] 
  --text: #a74ca7
  --text-body: #642964
  --text-highlight: #8f3b8f
  --primary: #ffb7ef
  --primary-1: #FFC8EE
  --primary-2: #FFD1EE
  --primary-3: #FFD9ED
  --primary-4: #FFEAEC
  --shadow-color-primary: #c083b3

[data-theme='ice'] 
  --background: #edf2fb
  --text: #5973b6
  --text-body: #41578d
  --text-highlight: #3f5385
  --primary: #b6ccfe
  --primary-1: #c1d3fe
  --primary-2: #ccdbfd
  --primary-3: #d7e3fc
  --primary-4: #e2eafc
  --shadow-color-primary: #889dcc

[data-theme='gates'] 
  --background: #F0BA9F
  --text: #383fa8
  --text-body: #47291a
  --text-highlight: #2d338f
  --primary: #e78b60
  --primary-1: #EA9770
  --primary-2: #EB9D78
  --primary-3: #ECA380
  --primary-4: #EEAF90
  --shadow-color-primary: #a15937






.Timeline 
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-end


.Timeline-item-right, .Timeline-item-left, .Timeline-item-full 
  width: 50%
  display: flex
  flex-direction: column
  position: relative
  text-align: left


.Timeline-item-left 
  align-self: flex-start
  align-items: flex-end
  text-align: right


.Timeline-item-full 
  width: 90%
  align-self: center


.Item-bullet-right, .Item-bullet-left, .Item-bullet-full 
  width: 3rem
  height: 3rem
  border-radius: 1000px
  position: absolute


.Item-bullet-left 
  right: 0
  top: 0


.Timeline-item-child 
  height: 100px
  background: lightgrey
  margin: 40px
  margin-top: 0
  margin-bottom: 100px
  border-radius: 20px
  display: flex
  flex-direction: column
  justify-content: inherit
  width: 90%
  align-items: inherit
  text-align: inherit


.Timeline-item-title 
  position: absolute
  width: fit-content
  top: 0
