.Icon
  float: left
  margin: 0.5rem

.Primary
  fill: var(--text-primary)

.Background
  fill: var(--background)

.Accent
  fill: var(--accent)

.Accent1
  fill: var(--accent-1)

.Accent2
  fill: var(--accent-2)

.Accent3
  fill: var(--accent-3)

.Accent4
  fill: var(--accent-4)