.Icon
  margin: 0 0.5rem 0 0
  width: 4rem
  flex-shrink: 0

.Primary
  fill: var(--text)

.Background
  fill: var(--background)

.primary
  fill: var(--primary)

.primary1
  fill: var(--primary-1)

.primary2
  fill: var(--primary-2)

.primary3
  fill: var(--primary-3)

.primary4
  fill: var(--primary-4)