.TimelineItemContent
  background: none
  margin: 3vw
  margin-top: 0
  margin-bottom: 6rem
  border-radius: 20px
  height: fit-content
  width: fit-content

.LayerItem
  position: relative

.TimelineTitle
  margin: 8px 40px 8px 40px
  font-size: 1.2rem
  font-family: Bogart
  color: var(--text)

.TimelineItemTitleTest
  font-size: 1.4rem
  font-family: Bogart
  line-height: 1.4rem
  color: var(--text)
  margin: 10px 20px 0 20px
  padding: 5px
  height: fit-content
  width: fit-content

.TimelineBody
  height: fit-content
  margin: 20px
  margin-top: 0
  color: var(--text-body)